<div
  style="
    padding: 36px 20px 63px 20px;
    background-color: #009ee4;
    border-radius: 0 0 200px 0;
  "
>
  <img
    style="width: 188px; height: 40px; margin: 0"
    src=""
  />

  <div
    style="
      color: white;
      margin-top: 52px;
      font-size: 56px;
      line-height: 64px;
      font-family: Arial;
    "
  >
Подключение к базам данных через Python
     
  </div>
</div>

## Python и базы данных

Какие возможности дает Python

 - напрямую получать данные из баз данных без файлов-посредников
 - получать данные одновременно из разных баз данных и обрабатывать их
 - быстрее сохранять данные и читать их в структурированном виде

## Базы данных и СУБД

__База данных__ - это хранилище данных, с которыми мы взаимодействуем через __системы управления базами данных__ (СУБД) с помощью специального языка - __SQL__ 

Для нас СУБД будут в том числе специальные библиотеки, подобранные для конкретного типа БД

<img style='float:left' src="https://res.cloudinary.com/djcwxgbfz/image/upload/v1611649308/skills/How_work.jpg" width="800"/>

## Кратчайший курс по SQL

```
SELECT                            # SELECT выбирает данные из таблицы
    user_id,                      # через запятую перечисляем нужные колонки (поля)
    first_name,                   # знаком * обозначаем, что хотим все колонки
    last_name,
    registred_at
FROM customers                    # FROM указывает на таблицу, из которой берем информацию
WHERE registred_at >='2021-01-01' # WHERE накладывает условия по одному или нескольким полям

```

__Перевод:__

```
ОТДАЙ все строки из колонок 
    user_id, 
    first_name, 
    last_name,
    registred_at
ИЗ таблицы customers 
У КОТОРЫХ дата регистрации пользователей в registred_at позднее 1 января 2021 года.
```

__Подключение к большинству баз данных происходит по одной схеме:__

- Сохраняем данные для доступа в .py-файл и загружаем его в ноутбук
- Импортируем нужную библиотеку для выбранного типа БД
- Создаем соединение, в котором передаем данные доступа
- Делаем `SQL`-запрос, чтобы забрать нужные данные из БД
- Выгружаем данные, например, в `pd.DataFrame`

__Разберемся с каждым пунктом отдельно на примере подключения к `PostgreSQL`__

## Подключение к PostgreSQL

**PostgreSQL** — свободная и одна из самых популярных СУБД, с которыми вы можете столкнуться, она пригодится нам в сегодняшней задаче.

### 1. Создадим файл с данными для доступа

Хранить данные для доступа (логины, пароли) в коде небезопасно, лучше хранить их в отдельных файлах, поэтому мы создадим файл в формате `.py`, в который положим словарь с данными доступа, который мы получили от администратора нашей БД.

In [ ]:
# нам передали данные вот такого типа

{
    "db_host": "178.154.254.133",  # хост, он может меняться, например, по сезонам
    "db_name": "skyeng",           # имя базы данных
    "db_password": "readonlyuser", # пароль
    "db_port": "5432",             # порт
    "db_user": "readonlyuser"      # имя пользователя
}

Внутри модуля лежит переменная, к которой мы будем обращаться, таких переменных может быть сколько угодно в одном модуле.

Создать такой файл можно в любом текстовом редакторе, а при сохранении добавить расширение .py

In [ ]:
pg_secret = {
    "db_host": "178.154.254.133",
    "db_name": "skyeng",
    "db_password": "readonlyuser",
    "db_port": "5432",
    "db_user": "readonlyuser"
}

Мы создали файл `postgresql_secret.py` с нашим словарем, подключимся к нему и прочитаем в переменную `pg_secret`.

In [ ]:
from postgresql_secret import pg_secret

In [ ]:
pg_secret

### 2. Установим библиотеку для работы с PostgreSQL

`psycopg2` — быстрая библиотека на языке C, которая позволяет подключаться к БД Postgres.

По сути, она позволяет произвести три действия: 
1. подключиться к БД
2. выполнить SQL-запрос
3. получить результат запроса в виде python-объекта

In [ ]:
!pip install psycopg2-binary # скачивает уже собранную библиотеку


#!pip install psycopg2 # само собирает библиотеку из исходников


#import sys
#!{sys.executable} -m pip install psycopg2

### 3. Создадим соединение с БД

Чтобы создать соединение, нужно передать в функцию `connect` из библиотеки `psycopg2` наши даные из файла. Они лежат в словаре, так что просто передадим данные по ключу.

In [ ]:
import psycopg2 # импортируем библиотеку

connection = psycopg2.connect(
                             database=pg_secret['db_name'],
                             user=pg_secret['db_user'],
                             password=pg_secret['db_password'],
                             host=pg_secret['db_host'],
                             port=pg_secret['db_port'],
                             )

### 4. Создадим SQL-запрос

Для создания запроса нам нужно настроить `cursor` — объект, который занимается выполнением SQL и выборкой данных.

Применим `cursor` к нашему соединению и положим результат в отдельную переменную, чтобы код легче читался.

In [ ]:
cursor = connection.cursor()

Курсору мы должны передать сам SQL-запрос и метод, то есть хотим ли мы получить только первую строку, все данные или выборку данных. 

- `fetchall()` вернет все записи 

- `fetchmany()` несколько записей 

- `fetchone()` только первую запись

SQL-запрос мы передаем в `cursor` через метод `execute()`.

In [ ]:
query = """SELECT * 
           FROM test_table""" # создадим запрос

cursor.execute(query) # передадим запрос в метод

Методом `fetchall()` получим все записи.

Запишем их в отдельную переменную и выведем через `print`

In [ ]:
result = cursor.fetchall()

for row in result: # выведем в цикле построчно данные
    print(row)

## RFM-анализ

Сегментирует клиентов по частоте и сумме покупок, а также маркирует клиентов по давности покупки.

<div style="display: flex; width: 100%; font-family: Arial">
<div style="width: 100%; margin-left: 0px">
  <div style="font-size: 20px; line-height: 30px">Recency</div>

  <div
    style="
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: 16px;
    "
  >
    как давно клиенты что-то покупали или производили другое целевое действие
  </div>
</div>

<div style="width: 100%; margin-left: 24px">
  <div style="font-size: 20px; line-height: 30px">Frequency</div>

  <div
    style="
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: 16px;
    "
  >
    как часто клиенты совершают покупки или как много покупок совершили
  </div>
</div>

<div style="width: 100%; margin-left: 24px">
  <div style="font-size: 20px; line-height: 30px">Monetary</div>

  <div
    style="
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: 16px;
    "
  >
    какую сумму клиенты оставили в нашем магазине за всю историю покупок
  </div>
</div>
</div>

По этим признакам можно разделить всех наших клиентов на группы
- кто из клиентов покупает у вас часто и много
- кто — часто, но мало
- кто вообще давно ничего не покупал

<img style='float:left' src="https://sun9-49.userapi.com/impg/RdxD-oqzSDh5wxhu_g9Eucv-RFD4CG-uF54vxw/NYOta3aFqiA.jpg?size=1005x841&quality=96&proxy=1&sign=5002b15beb26c5b0c76a47dc63a1735b&type=album" width="700"/> 

![]()

### Почему именно сейчас мы будем проводить RFM-анализ?

Для такого анализа нужны данные разного типа, например одновременно финансовые данные о транзакциях и маркетинговые о заходах на сайт. 

Разные базы хранят разные данные:

- Clickhouse — данные о кликах, событиях
- PostgreSQL — данные о заказах, пользователях, товарах

### Как провести RFM-анализ?
1. Собираем данные. 

    - ID клиента (это может быть номер телефона, ФИО или имейл)
    - Даты покупок или иных действий
    - Количество покупок
    - Сумма этих покупок
    

2. Группируем и оцениваем потребителей. На этом шаге мы каждому клиенту по каждому показателю даем оценку 1, 2 или 3.

3. Даем оценку RFM. В этой части анализа мы даем клиенту общую оценку. То есть нам необходимо собрать отдельный столбец данных по каждому клиенту, в котором будет храниться информация сразу по трем показателям.

__Далее мы можем анализировать полученные данные и делать выводы.__

### 1. Подключимся к данным

Необходимые нам данные лежат в разных базах

`PostgreSQL`:

- Количество покупок
- Сумма этих покупок
- Данные о пользователях

`Clickhouse`:

- Давность посещения сайта
- Даты покупок

Для нас важно участие этого показателя, так как он показывает, на каком этапе воронки находится клиент, а соответственно, какую триггерную стратегию мы будем применять.

## 1. Подключаемся к базам данных

### Загружаем данные из Postgres 

В начале занятия мы подключались к тестовой таблице в базе данных, теперь нужно подключиться к рабочей.

In [ ]:
import pandas as pd
query = "SELECT * FROM users"    # Составим запрос к БД
cursor.execute(query)            # Сделаем запрос
result = cursor.fetchall()  # Запросим все строки, мы получим результат в виде списка кортежей

result

Посмотрим на описание данных с помощью метода `.description`, там должны быть спрятаны имена колонок.

In [ ]:
cursor.description

Положим наши данные в датафрейм

In [ ]:
columns = []                     # В этот список будем сохранять названия колонок
for desc in cursor.description:  
    columns.append(desc[0])      # Названия колонок возьмем из первого элемента cursor.description

    
users = pd.DataFrame(result, columns=columns)  # Из списка кортежей сделаем датафрейм
users.head()

Теперь подключимся к данным о покупках, которые лежат в таблице `orders`.

In [ ]:
query = "SELECT * FROM orders"    # Составим запрос к БД
cursor.execute(query)            # Сделаем запрос
result = cursor.fetchall()

In [ ]:
cursor.description # посмотрим описание данных в нашем запросе

Выгрузим данные в дата-фрейм, назовем его `orders`.

Названия колонок снова возьмем из первого элемента `cursor.description`.

In [ ]:
columns = []                     
for desc in cursor.description:
    columns.append(desc[0])

orders = pd.DataFrame(result, columns=columns)
orders.head()

### Загружаем из clickhouse события оплаты

Подключим библиотеку `clickhouse_driver`.

In [ ]:
#!pip install clickhouse_driver

import sys
!{sys.executable} -m pip install clickhouse_driver

Открываем файл с информацией о данных для доступа

In [ ]:
from clickhouse_secret import ch_secret

В библиотеке `clickhouse_driver` тоже есть аналог `cursor` — `Client`, причем именно с большой буквы. Он поможет нам и установить связь с базой, и выполнять дальнейшие операции с ней.

In [ ]:
from clickhouse_driver import Client # импортируем нужную функцию

client = Client(ch_secret['db_host'],
                port=ch_secret['db_port'],
                user=ch_secret['db_user'],
                password=ch_secret['db_password'],
                verify=False,
                database=ch_secret['db_name']
                )

Чтобы получить название колонок, нам нужно передать параметр `with_column_types=True`

In [ ]:
result, columns = client.execute('SELECT * FROM events', 
                                 with_column_types=True)

columns

Аналогично создаем датафрейм и здесь

In [ ]:
col = []                    
for desc in columns:
    col.append(desc[0])
events = pd.DataFrame(result, columns=col)
events.head()

## Альтернативный способ получения данных

Ещё один способ получить данные из базы данных напрямую в `pandas` — использовать метод `.read_sql()`.

В него передаются минимум два параметра:
 - SQL-запрос
 - Объект `SQLAlchemy` с коннектом к БД.
 
`SQLAlchemy` - популярная опенсорсная библиотека по работе с SQL-базами данных.

In [ ]:
#import sys
#!{sys.executable} -m pip install clickhouse-sqlalchemy 

!pip install clickhouse-sqlalchemy # установим расширение sqlalchemy для clickhouse

In [ ]:
from sqlalchemy import create_engine

Создадим объект подключения к БД, для этого нам нужно данные подключения передать в таком виде, это мы узнали из [документации](https://github.com/xzkostyan/clickhouse-sqlalchemy)

- для clickouse запрос выглядит так:
`clickhouse+native://user:password@host:port/db_name`


- для postgreSQL еще проще:
`postgresql://user:password@host:port/db_name`
            
        
Делаем это с помощью f-строк, 

`f"""clickhouse+native://{}:{}@{}:{}/{}"""`

A на место плейсхолдеров вставим обращение к скрытым кредам из словаря `ch_secret`

In [ ]:
ch_secret

In [ ]:
engine_path = f"""clickhouse+native://{ch_secret['db_user']}:{ch_secret['db_password']}@{ch_secret['db_host']}:{ch_secret['db_port']}/{ch_secret['db_name']}"""

А сам драйвер мы создаем через функцию `create_engine()`, она по функциональности похожа на уже привычный `cursor`

In [ ]:
engine = create_engine(engine_path)
engine

In [ ]:
query = 'SELECT * FROM events'

In [ ]:
events = pd.read_sql(query, engine)
events

Данные для анализа готовы!

## 2. Маркируем пользователей

Нам нужно сгруппировать пользователей по трем категориям, а значит для каждого пользователя проставить маркер. 

### Определим группы:

<div style="display: flex; width: 100%; font-family: Arial">
<div style="width: 100%; margin-left: 0px">
  <div style="font-size: 20px; line-height: 30px">Recency</div>

  <div
    style="
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: 16px;
    "
  >
    3 — покупал давно, неактивен
    <br/>
    2 — покупал давно, но был на сайте 
    <br/>
    1 — покупал недавно  
  </div>
</div>

<div style="width: 100%; margin-left: 24px">
  <div style="font-size: 20px; line-height: 30px">Frequency</div>

  <div
    style="
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: 16px;
    "
  >
    3 — редкие
    <br/>
    2 — средние
    <br/>
    1 — частые
  </div>
</div>

<div style="width: 100%; margin-left: 24px">
  <div style="font-size: 20px; line-height: 30px">Monetary</div>

  <div
    style="
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.48);
      margin-top: 16px;
    "
  >
    3 — мало тратят
    <br/>
    2 — средне
    <br/>
    1 — очень много
   
  </div>
</div>
</div>

## Monetary

Сделаем небольшую предобработку данных. Мы переводим числа в строки, потому что не собираемся работать с `customer_id` как с числом

In [ ]:
orders['invoice_id'] = orders['invoice_id'].apply(str)
orders['customer_id'] = orders['customer_id'].apply(str)
orders['total_amount'] = orders['total_amount'].astype('float64')

### Получим данные для M — сумму всех оплат для каждого клиента

Создадим отдельную таблицу, где методом `groupby()` посчитаем сумму по столбцу `total_amount` для каждого `customer_id`

In [ ]:
mTable = orders.groupby('customer_id')['total_amount'].sum().reset_index()
mTable.head()

Посмотрим, как наши клиенты распределены.

In [ ]:
import matplotlib.pyplot as plt # 

# чтобы графики отображались внутри jupyter
%matplotlib inline 

plt.figure(figsize=(10, 5)) # размерность
plt.boxplot(mTable['total_amount'])

Будем уменьшать разброс дохода, чтобы увидеть основное распределение

In [ ]:
plt.figure(figsize=(10, 5)) # размерность
plt.title('Распределение клиентов по величине суммарного дохода') 
plt.xlabel('Размер суммарного дохода с клиента') 
plt.ylabel('Количество клиентов') 
plt.grid() # сетка

# Уменьшаем разброс вручную, чтобы увидеть левый хвост распределения
plt.hist(mTable[mTable['total_amount'] < 30_000]['total_amount'], bins=100)

plt.show()

Мы видим, что клиентов, которые совершают крупные покупки, мало — это длинный правый хвост распределения. Клиентов с мелкими покупками много — это высокий столбец слева. Нам больше интересны «клиенты-киты». Выделим их в группу M1, пусть это будут все клиенты с суммарным доходом больше 5000, от 1000 до 5000 — M2, ниже 1000 — M3.

### Промаркируем клиентов по M

In [ ]:
def mclass(x):
    if x <= 1000:
        return 'M3'
    elif x <= 5000:
        return 'M2'
    else:
        return 'M1'

# Каждое из значений total_amount передаем в функцию mclass и результат запишем в новый столбец
mTable['monetary'] = mTable['total_amount'].apply(mclass)

In [ ]:
mTable.head()

In [ ]:
mTable['monetary'].value_counts()

Самая интересная группа — это группа M1, т. к. она показывает клиентов, которые совершили крупные покупки. К сожалению, эта группа всегда меньше других. :(

## Frequency

Давайте посчитаем частотность заказов. Создадим отдельную таблицу, где методом `groupby()` посчитаем количество по столбцу `invoice_id` для каждого `customer_id`

In [ ]:
fTable = orders.groupby('customer_id')['invoice_id'].nunique().reset_index()
fTable.columns = ['customer_id', 'orders_count']
fTable

In [ ]:
fTable['orders_count'].describe()

### Промаркируем клиентов по F

Мы заранее решили, что 
- редкие клиенты — это клиенты с одной покупкой `F3` 
- от 1 до 3 покупок — клиенты со средней активностью `F2` 
- больше 3 покупок — частые клиенты `F1`

Напишем функцию `fclass`, которая будет отдавать правильную метку.

В таблице `fTable` создадим новый столбец `frequency`, куда сохраним результат выполнения функции `fclass`

In [ ]:
def fclass(x):
    if x <= 1:
        return 'F3'
    elif x <= 3:
        return 'F2'
    else:
        return 'F1'

fTable['frequency'] = fTable['orders_count'].apply(fclass)

Посчитаем количество вхождений каждого значения

In [ ]:
fTable['frequency'].value_counts()

Объединим `mTable` и `fTable`

In [ ]:
mfTable = pd.merge(mTable, fTable, on='customer_id').reset_index()

In [ ]:
mfTable = mfTable[['customer_id', 'monetary', 'frequency']]
mfTable.head()

Каждому клиенту теперь присвоена группа доходности и группа частотности. Но мы пока не знаем, как давно они делали заказы. Для этого нам нужна дополнительная информация о датах заказов. Эту информацию мы достали из `clickhouse` и сохранили в дата-фрейме `events`.

## Recency

Сделаем  предобработку данных

In [ ]:
events['timestamp'] = pd.to_datetime(events['timestamp'])
events['user_id'] = events['user_id'].apply(str)
events['invoice_id'] = events['invoice_id'].apply(str)

In [ ]:
events.head()

Для каждого пользователя найдем дату последней покупки и дату последнего визита на сайт. Сначала сортируем покупки:

In [ ]:
purchases = events[events['event'] == 'purchase']

In [ ]:
purchases.head()

Сгруппируем покупки по `user_id` и возьмем максимальное время `timestamp`:

In [ ]:
max_purchases = purchases.groupby('user_id')['timestamp'].max().reset_index()

Переименуем столбцы

In [ ]:
max_purchases.columns = ['customer_id', 'last_purchase']

Отсортируем теперь просмотры страниц

In [ ]:
pageviews = events[events['event'] == 'pageview']

In [ ]:
max_pageviews = pageviews.groupby('user_id')['timestamp'].max().reset_index()

In [ ]:
max_pageviews.columns = ['customer_id', 'last_visit']

Объединим обе таблицы в одну по полю `customer_id`

In [ ]:
rTable = pd.merge(max_purchases, max_pageviews, on='customer_id', how='inner')

In [ ]:
rTable.info()

In [ ]:
rTable.head()

### Проставим метку R

Из нашего представления о давности покупки считаем, что:
- если последняя покупка совершена более полугода назад, то это давно `R3` 

- если покупка совершена более полугода назад, но клиент заходил на наш сайт за последние полгода, то это `R2`

- если покупка совершалась за последние полгода, то это `R1`

За текущее время возьмем время последнего события.

In [ ]:
NOW = events['timestamp'].max()

In [ ]:
from datetime import datetime, timedelta


def rclass(x):
    if x['last_purchase'] >= NOW - timedelta(days=6*30):   # Из текущего времени вычтем 6 месяцев
        return 'R1'
    elif x['last_purchase'] < NOW - timedelta(days=6*30) and x['last_visit'] >= NOW - timedelta(days=6*30):
        return 'R2'
    else:
        return 'R3'

rTable['recency'] = rTable.apply(rclass, axis=1) # Параметр axis нужен, чтобы передать всю строку.
# Заметьте, метод apply применен ко всему дата-фрейму, а не к Series.

In [ ]:
rTable.head()

In [ ]:
rTable['recency'].value_counts()

У нас очень много клиентов за последние 6 месяцев, это может говорить о том, что мы хорошо работаем и наши клиенты достаточно лояльны.

In [ ]:
rTable = rTable[['customer_id', 'recency']]

## Объединяем

In [ ]:
rfmTable = pd.merge(mfTable, 
                    rTable, 
                    on='customer_id', 
                    how='inner')
rfmTable.head()

Объединим в одну строку все три метки в одном столбце `rfm_group`

In [ ]:
rfmTable['rfm_group'] = rfmTable['recency'] + rfmTable['frequency'] + rfmTable['monetary']
rfmTable.head()

In [ ]:
rfmTable['rfm_group'].value_counts()

In [ ]:
rfmTable

### Выводы

1. Наши клиенты довольно лояльны (из 7 первых групп `R1` у 6 из них). 
2. У самой большой группы `R1F1M2` — 1596 клиентов хорошая частота. Подумайте, следует ли тратить бюджет на них, если они все равно вернутся?
2. Группа `R3F3M3` — 411 клиентов — самые редкие, неактивные, малоплатящие клиенты. На них тратим маркетинговый бюджет в последнюю очередь
3. Можно попытаться стимулировать группы `R1F3M2` - 37 клиентов , `R1F2M2` - 322 клиента покупать чаще (скидки, акции, смс, рассылка).

## Построим heatmap

Чтобы стороннему человеку было понятно, что изображено на графике, мы расшифруем в новом датафрейме буквы и цифры.

In [ ]:
rfm_description = rfmTable.copy() # создадим новый датафрейм с копией исходного
rfm_description

Для каждого параметра заведем словарь с текстовыми соответствиями.

In [ ]:
monetary_dict = {"M1": "с высоким чеком", 'M2': "со средним чеком", 'M3': "с низким чеком",}
frequency_dict = {'F1': "частые",'F2': "редкие", 'F3': "разовые",}
recency_dict = {'R1': "недавние",'R2': "спящие",'R3': "давние"}

Используем функцию `map()`, чтобы заменить условные обозначения на текстовые из словаря.

In [ ]:
rfm_description['monetary'] = rfm_description['monetary'].map(monetary_dict)
rfm_description['frequency'] = rfm_description['frequency'].map(frequency_dict)
rfm_description['recency'] = rfm_description['recency'].map(recency_dict)

rfm_description['mr'] =  rfm_description['monetary'] + ' ' + rfm_description['recency']
rfm_description

Группируя по двум столбцам мы получим на выходе серию с двумя индексами. Здесь мы используем аргумент `as_index=False`, который напрямую указывает при группировке, что колонки должны остаться колонками, а индекс будет автоматической последовательность чисел.

In [ ]:
rfm = rfm_description.groupby(['mr', 'frequency'], as_index=False)['customer_id'].count()
rfm

Соберем сводную таблицу, где по оси `Y` будет `monetary` и `recency`, по оси `X`  — `frequency`, а в значениях - количество пользователей в группе.

In [ ]:
rfm_pivot = rfm.pivot(index="mr", 
                columns="frequency", 
                values="customer_id"
                                    ).reset_index()
rfm_pivot.fillna(0, inplace=True)
rfm_pivot = rfm_pivot.set_index('mr')
rfm_pivot

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
f, ax = plt.subplots(figsize=(10, 5)) # создадим фигуру и оси
                     
sns.heatmap(rfm_pivot, 
            annot=True,
            cmap="YlGnBu",
            fmt='g',
            annot_kws={'size':12}) # вручную зададим размер шрифта в ячейках
            
plt.title("RFM-анализ")            
plt.yticks(rotation=0) # вручную зададим угол подписей
ax.xaxis.set_ticks_position('top') # укажем, что подписи колонок должны быть наверху
ax.xaxis.set_label_position('top') # укажем, что подпись оси x должна быть наверху
            

plt.ylabel("recency + monetary")
plt.xlabel("frequency")
plt.show()

### Выгрузим данные для маркетологов

Уберем ненужное

In [ ]:
rfmTable = rfmTable[['customer_id', 'rfm_group']]

In [ ]:
users['user_id'] = users['user_id'].apply(str)

Объединим с таблицей пользователей

In [ ]:
rfm_users = pd.merge(users, 
                     rfmTable, 
                     left_on='user_id', 
                     right_on='customer_id', 
                     how='inner')

In [ ]:
rfm_group = rfm_users[['first_name', 'last_name', 'email', 'rfm_group']]
rfm_group.head()

In [ ]:
rfm_users.to_csv('rfm_users.csv', index=False)

<body>
  <div
    style="
      padding-top: 298px;
      padding-bottom: 298px;
      background-color: black;
      border-radius: 24px;
    "
  >
    <div style="text-align: center">
      <div
        style="
          font-size: 72px;
          line-height: 80px;
          font-family: Arial;
          color: white;
        "
      >
        Спасибо за внимание
      </div>
    </div>
  </div>
</body>