<div
  style="
    padding: 36px 20px 63px 20px;
    background-color: #009ee4;
    border-radius: 0 0 200px 0;
  "
>
  <img
    style="width: 188px; height: 40px; margin: 0"
    src=""
  />

  <div
    style="
      color: white;
      margin-top: 52px;
      font-size: 56px;
      line-height: 64px;
      font-family: Arial;
    "
  >
    Списки, словари, циклы<br> и условные конструкции
  </div>
</div>

Все типы данных, с которыми мы работали на первом занятии, содержали в себе всего лишь по одному значению.

«Война и Мир» — это один элемент, записанный в строковую переменную.

Сегодня мы познакомимся с типами данных, в которых содержатся целые коллекции данных.

## Список или  list

Список — это упорядоченная коллекция элементов произвольных типов.

In [ ]:
# как выглядят списки
            
skills_team = ['Михаил', 'Шагане', 'Дмитрий' , 'Мария']

Список — это коллекция элементов **произвольных типов**.

In [ ]:
teacher_name = 'Михаил'
lessons = 10
city = "Spb"
is_on_vacation = False

# все эти данные мы можем хранить в одной переменной

teacher_1 = ['Михаил', 13, "Spb", False]
teacher_1 # выводим значение последней переменной в коде без функции print()

Элементом списка может быть все, что угодно:

- строка
- число
- логическое значение
- переменная
- другой список или любой другой объект

In [ ]:
nested_list = [teacher_1, skills_team, 12, True]
nested_list

## Что можно делать со списками?

### 1. Обращаться к элементам по индексу и забирать срезы

Список — **упорядоченная коллекция**, это означает, что у каждого элемента списка есть свой индекс, и мы можем напрямую к нему обратиться.

Синтаксис знакомый: такой же, как в работе со строками.

In [ ]:
teacher_1[0] # достаем первый элемент списка

In [ ]:
teacher_1[0:2] # достаем элемнты с нулевого по второй

In [ ]:
teacher_1[-1]# достанем последний элемент списка

Список — **изменяемый тип данных**. А значит, мы можем заменить, удалить или добавить элемент в список, не переопределяя переменную.

In [ ]:
teacher_1[2] = 'Msk' # вызываем один элемент списка, и переопределяем только его
teacher_1

<body>
  <div style="padding: 24px; background-color: #ff7775; border-radius: 24px">
    <img
      style="width: 56px; height: 56px; float: left"
      src=""
    />
    <div
      style="
        font-size: 18px;
        line-height: 26px;
        font-family: Arial;
        color: white;
        margin-left: 84px;
      "
    >
      Со строкой то же самое сделать не получится. Даже если мы попробуем заменить лишь один элемент строки, один символ.
    </div>
  </div>
</body>

In [ ]:
string_skills_team = 'Михаил, Шагане, Мария, Дмитрий'
string_skills_team[0]

In [ ]:
string_skills_team[0] = 'Б'

### 2. Добавлять новые элементы в список

In [ ]:
print('Длина списка "skills_team" составляет ', len(skills_team),' элемента') # используем функцию len() для списка
skills_team[4] # обратиться к элементу, которого не существует, невозможно

In [ ]:
skills_team[4] = 'Анастасия' # так тоже не получится, так как мы обращаемся к тому, чего нет

### `.append(x)`
Добавляет элемент `x` в конец списка.

In [ ]:
skills_team.append('Анастасия') # метод добавления в список. Если выполнить этот код несколько раз, появится несколько новых одинаковых элементов
skills_team

  
 ### `.insert(index, x)`
 Добавляет элемент х в конкретное место списка, по индексу

In [ ]:
skills_team.insert(0, 'Глеб') # добавили Глеба в начало списка
skills_team

### 3. Удалять элементы из списка

### `.remove (x)`

Удаляет первый элемент, значение которого равно `x`.

In [ ]:
skills_team.remove('Михаил') # удалим первого Михаила, который встретится в нашем списке
skills_team

In [ ]:
skills_team.append('Михаил')# вернем Михаила в команду с помощью одного из методов

### `.pop ([i])`


- удаляет i-тый элемент по индексу и возвращает его, позволяя сделать с ним что-то еще

- если индекс не задан, по умолчанию удаляет последний элемент

- квадратные скобки в выражении говорят о том, что это не обязательный элемент, и можно использовать значение по умолчанию

Представим, что у нас есть дежурные учителя, и назначаются они поочередно из списка.

Удаляем из списка третьего учителя, и дальше можем отдельно взаимодействовать с ним: начислить премию, послать напоминание и т.д.

In [ ]:
duty_teacher = skills_team.pop(2)

In [ ]:
print(duty_teacher)
print(skills_team)

__Полезно__: работая данными из Excel мы часто при обращении к столбцам получаем имя столбца в первом элементе, он перестает быть заголовком, как хотелось бы. Методом `.pop()` можно достать название столбца, а затем записать его в свою таблицу, в качестве заголовка. 

И мы правда так делаем.

<center><img src="https://sun9-48.userapi.com/impf/mDc2Bfrd_lqUOw8l7BXanzPloEt1oYxP0exq5A/tgX4LwzR8qQ.jpg?size=1838x516&quality=96&proxy=1&sign=bd2e3efeb115ea8cca0688256624449b" width="1000"/>

### `.count(x) `

Показывает, сколько раз элемент x входит в список.

In [ ]:
to_find = 'Анастасия'
skills_team.count(to_find)

**Про другие методы работы со списком можете почитать [тут](https://pythonworld.ru/tipy-dannyx-v-python/spiski-list-funkcii-i-metody-spiskov.html)**

## Циклы

Чтобы по очереди работать с элементами списка в Python, удобнее всего использовать циклы. Есть два вида циклов: 
   
   1. Цикл `while` — задает условие выхода из цикла.
    
   2. Цикл `for in` — поочередно обрабатывает элементы списка.

## Цикл while

**Используется в случаях, когда мы хотим повторять какой-то блок кода из раза в раз до тех пор, пока не будет выполнено какое-то условие**

1. Если нам нужно делать что-то постоянно, до того, как мы руками это что-то не выключим.
2. Если нужно повторить какое-то действие определенное количество раз, например попытаться выполнить вход.

In [ ]:
skills_team = ['Михаил', 'Шагане', 'Дмитрий' , 'Мария']

In [ ]:
while len(skills_team) > 0:
    print(skills_team.pop(), 'удален из списка')

In [ ]:
print(skills_team)

Пример использования в Skyeng — пагинация — разделение массива данных на страницы.

<center><img style='float:left' src="https://sun9-24.userapi.com/impf/PRUvN_0LmTF-czYuwbsKVDwD4dVgXYeNGycfnw/CNf1RCxXHm8.jpg?size=1454x418&quality=96&proxy=1&sign=41e9ca2ac66eb52cc5d363755f0eb890" width="800"/>

    
## Цикл for in

### Задача

Допустим, у нас есть список цен, и мы ходим обновить его с учетом наценки в 5%.

In [ ]:
# создадим новый список

prices = [59, 79, 999, 1399, 9999, 10679] #текущие цены
tax = 1.05 #наценка в 5%

In [ ]:
for i in prices:
    i *= tax #добавляем наценку к каждому элементу
    print(i)

In [ ]:
for i in prices:
    i *= tax 
print(i) # отступ имеет значение

In [ ]:
for price in prices: # то же что двумя ячейками выше
    price *= tax
    print(price)

Разберем код выше. 
   1. мы определили, как будет называться каждый элемент списка, и запустили перебор элементов
   2. мы переписали значение переменной, в которой лежит значение элемента
   3. мы вывели значение на экран
    
! При этом мы нигде не прописывали то, что хотим изменить значения с списке. Поэтому, логично, что список остался неизменным.

In [ ]:
prices

## Базовый синтаксис цикла for

In [ ]:
skills_team = ['Михаил', 'Шагане', 'Дмитрий' , 'Мария']

In [ ]:
for i in skills_team:
    print('Привет,', i)

In [ ]:
skills_team

# Условные конструкции

Для решения большинства задач нужно не только итерировать списки, но и изменять данные по условию. 

### Задача

Представим, что мы хотим проанализировать, насколько холодно в Москве зимой. Мы хотим задать температурные окна

- температура меньше - 20 — очень холодно
- температура между - 20 и + 5 — холодно
- все остальное — нормально

In [ ]:
temperature = 0
if temperature < -20: #базовый синтаксис. Тоже 4 пробела, :
    print('Очень холодно')
elif -20 <= temperature <= 5:
    print('Холодно')
else:
    print('Нормально')

In [ ]:
if temperature < -20: #при этом, в отличие от SQL
    print('Очень холодно')
print('Код продолжает работать, даже если условие не выполнено, и не заданы инструкции else')

<img style='float:left' src="https://res.cloudinary.com/djcwxgbfz/image/upload/v1606750955/skills/If_elif.png" width="700"/>

### Задача

У нас есть список с 100 000 оплат с разной суммой, которые мы получили в прошлом.

Руководитель хочет проверить, **сколько выручки мы бы потеряли, если бы делали кэшбек 5% на все оплаты больше 8000 рублей.**

In [ ]:
from payments_module import payments_list as payments #подключаемся к данным

Посмотрим, много ли у нас оплат свыше 8000.

In [ ]:
for i in payments:
    if i >= 8000: 
        print(i)
        
#неудобно

Заведем счетчик, чтобы посмотреть, много ли у нас оплат свыше 8000.

In [ ]:
for i in payments:
    counter = 0
    if i >= 8000:
        counter += 1
print(counter)

#что-то не так

Вынесем нашу переменную со счетчиком наружу.

In [ ]:
counter = 0 
for i in payments:
    if i >= 8000:
        counter += 1
print(counter)

Интересно посчитать, сколько мы заработали всего на оплатах больше 8000.

In [ ]:
rev_more_8000 = 0
for i in payments:
    if i >= 8000:
        rev_more_8000 += i 
        
rev_more_8000

Посчитаем, сколько мы заработали всего.

In [ ]:
was = 0
for i in payments:
    was += i     
was

Посчитаем, сколько мы заработали бы, если бы вернули кешбек на покупки > 8000.

In [ ]:
could_be = 0
for i in payments:
    if i >= 8000:
        could_be += i*0.95 
    else:
        could_be += i
    
could_be

Посчитаем разницу между `was` и `could_be`.

In [ ]:
print(1-(could_be/was))

### Задача

Нам прислали в одном списке по товарам данные о цене и валюте, в которой указана цена (доллары или рубли).
Необходимо преобразовать все к рублям и подготовить список с ценами в рублях к дальнейшей загрузке на сайт.

In [ ]:
from prices_module import prices_in_list as prices # подключаемся к данным

usd_rate = 76.65

Смотрим, с чем мы имеем дело.

In [ ]:
print(type(prices))

Cмотрим, что лежит в первом элементе.

In [ ]:
print(prices[0], ' ', type(prices[0]))

Cмотрим, что лежит в первом элементе первого элемента.

In [ ]:
print(prices[0][0], type(prices[0][0]))

Cмотрим, что лежит во втором элементе первого элемента.

In [ ]:
print(prices[0][1], type(prices[0][1]))

Теперь можем написать цикл преобразований.

In [ ]:
new_prices = [] #создаем новый список, наполняем его данными, и потом переписываем список prices
for i in prices:
    if i[1] != 'RUR':
        rur_prices = (i[0]*usd_rate)
        new_prices.append(rur_prices)
    else:
        new_prices.append(i[0])
prices = new_prices
sum(prices)

Получилось неудобное для чтения число. В Python есть удобная функция round(), которая округляет числа. В аргументы передаем число и количество знаков после запятой.

In [ ]:
round(sum(prices), 1) # округлим результат

### `.split()`

И еще один полезный метод.

В домашнем задании вам было нужно искать в строке слово, содержащее в себе символ `@`. Вы уже поняли, что решений у задачи очень много. 

В Python есть специальный метод, который разбивает строку по заданному разделителю, превращая его в список с возможностью итерирования. 

Теперь мы сможем попробовать решить эту задачу с помощью циклов и условных конструкций.

In [ ]:
comment =  'клиент misha@exam.com готов к оплате'
list_comment = comment.split(' ') # методом split() разбиваем строку
print(list_comment)

mail = ''                         # создаем переменную mail, в которую мы запишем ответ
for word in list_comment:         # пробегаем по всем элементам word нашего списка
    if word.find('@') > 0:        # если в элементе находится символ @
        mail = word               # то записываем этот элемент в  переменную mail

print(mail)

# Еще два итерируемых типа данных

## Кортежи / tuple

"неизменяемый список"

In [ ]:
my_tuple = (1,2,True) # базовый синтексис
my_tuple[1]

In [ ]:
my_tuple[1] = 4

Вы будете сталкиваться с кортежами не очень часто, например, некоторые функции возвращают результат в формате кортежей. 

Теперь такие данные не введут вас в тупик.

Кстати! Вот что будет, если неверно поставить разделитель во `float`:

In [ ]:
some_data = 3
some_wrong_data = 5,1

result_of_operating = some_data * some_wrong_data

print(type(result_of_operating), result_of_operating)

## Множества / set

Неупорядоченные списки, содержащие лишь уникальные значения.

In [ ]:
my_set = {1,3,4,4,4,4}
print(type(my_set), my_set)

Множества суперудобны для анализа списков.

Например, если мы хотим получить список уникальных значений в списке, просто приобразуем его к типу `set`:

In [ ]:
set(payments)

Важное свойство множеств — они не упорядочены. Соответственно, в них невозможно обращение по индексу.

## Словарь / dict

Коллекция данных, которая позволяет хранить пары «ключ — значение». 

1. Ключ — любой тип неизменяемых данных: числа, строки, кортежи, булин

2. Значение — вообще любой тип данных, в том числе другой словарь

Cоздадим словарь, где ключами являются строки, а значениями — функции приведения к типу данных.

In [ ]:
type_functions_dict = {'строка': str,
                  'целое': int,
                  'дробное': float,
                  'логическое':bool,
                  'список':list,
                  'кортеж':tuple,
                  'множество':set,
                   }

### Что можно делать со словарями

### 1. Получать значение по ключу

In [ ]:
type_functions_dict['целое']

### 2. Использовать значения словаря

Определим переменную, сделаем ее строкой и приведем к целому числу, воспользовавшись нашим словариком.

Обращение к значению словаря осуществляется через `[]`

In [ ]:
some_var = '4' 
type(type_functions_dict['целое'](some_var))

У нас в Skyeng мы используем словари, например, для создания таблиц в базах данных. Нам нужно как-то записывать названия стобцов и типы данных для этих столцов, чтобы передавать эту информацию в БД. Словари тут подходят идеально.

<center><img src="https://sun9-28.userapi.com/yJa2bR_SdGwyBmjrvC7GB0hKIMKHOpfGpjLY0Q/YC4SjNJBGaM.jpg" width="340"/>

### 3. Добавлять новые значения и изменять текущие

Добавим новый ключ `'словарь'` и значение — функция приведения к типу словарь `dict`.

In [ ]:
type_functions_dict['словарь'] = dict 
print(type_functions_dict['словарь'])

Обновление значений в словаре осуществляется также как добавление новых.

In [ ]:
type_functions_dict['словарь'] = 'Нечто'
type_functions_dict

In [ ]:
type_functions_dict['словарь'] = dict 
# приведем словарь обратно в порядок и снова назначим ключу 'словарь'  значение dict

### 4. Базовые методы работы со словарем

Подоробнее про методы работы со словарем можно почитать [`тут.`](https://pythonworld.ru/tipy-dannyx-v-python/slovari-dict-funkcii-i-metody-slovarej.html) 

А вот 4 самых полезных для нас с вами:


 - `.get(key,[default])` — возвращает значение ключа

 - `.items()` — возвращает пары (ключ, значение)

 - `.keys()` — возвращает ключи в словаре

 - `.values()` — возвращает значения в словаре

###  `.get() ` лучше чем просто обращение к ключу через  `[] `

Возвращает значение ключа, но если его нет, возвращает не ошибку, а то, что мы занесем в `default` (по умолчанию `None`).

In [ ]:
print(type_functions_dict.get('целое', 'такого нет'))
print(type_functions_dict['целое'])

In [ ]:
print(type_functions_dict.get('функция', 'такого нет'))
print(type_functions_dict['функция'])

###  `.items() `

Возвращает пары (ключ, значение).

In [ ]:
type_functions_dict.items()

Данные CRM часто можно выгружать в формате словаря. 

Давайте посмотрим, как это выглядит.

In [ ]:
crm_info =  {
('id:',86609):'клиент example@example.com готов к оплате',
('id:',12588):'учение настроен позвитивно, positive_one@positiv.ru',
('id:',19085):'only_mail@positiv.ru',
('id:',42956):'от учебы отказался. negative@somemail.ru',
('id:',38821):'our own app testing test@test.ru',
('id:',47860):'повторная заявка от пользователя itsmeagail@spam.com',
('id:',92172):''
}

In [ ]:
crm_info.items() # посмотрим на словарь


### `.keys()`

Возвращает ключи в словаре.

In [ ]:
crm_info.keys() # в ключах лежат кортежи

###  ` .values() ` 
Возвращает значения в словаре.

In [ ]:
for i in crm_info.values(): # посмотрим на значения. Через итерирование смотреть гораздо удобнее
    print(type(i), i)

### Задача

Давайте вместе соберем из имеющихся у нас данных новый, чистый словарь.

1. Вместо кортежей, в качестве ключей положим просто идентификаторы пользователей
2. В качестве значений положим только почту

**Шаг 1. Вместо кортежей, в качестве ключей положим просто идентификаторы пользователей.**

In [ ]:
new_crm = dict()                         # создадим новый словарь, переберем значения из нашего словаря
for client, comment in crm_info.items(): # проитерируем наш словарь
    client = client[1]                   # переопределеим ключи. Нам нужен только второй элемент кортежа
    new_crm[client] = comment

In [ ]:
new_crm #посмотрим что получилось

**Шаг 2. В качестве значений положим только почту.**

Сегодня мы уже доставали почты из списка, давайте вспомним, как мы это делали с использованием метода split()

In [ ]:
for client, comment in new_crm.items(): 
    comment = comment.split(' ')
    for element in comment: 
        if element.find('@') > 0:
            new_crm[client] = element

In [ ]:
new_crm

## Словари как мини-база данных

То, что в значениях словарей могут лежать любые типы данных, позволяет использовать их в качестве баз данных.


### Задача

Соберем словарь, в котором **ключом будет идентификатор пользователя**, а **значением — другой словарь с двумя значениями**:

- mail: почта
- comment: текст комментария

In [ ]:
mini_db_crm = dict()                     # создадим новый словарь, переберем значения из нашего словаря

for client, comment in crm_info.items(): # проитерируем наш словарь
    client = client[1]                   # переопределеим ключи, нам нужен только второй элемент кортежа
    comment_dict = dict()
    mail = ''
    for i in comment.split(' '):
        if i.find('@') > 0:
            mail = i
    
    comment_dict['mail'] = mail
    comment_dict['comment'] = comment
    mini_db_crm[client] = comment_dict   # положим в новый словарь пары id:список слов

In [ ]:
mini_db_crm

Достанем все, что мы знаем про пользователя 86609.

In [ ]:
mini_db_crm[86609] # в значении записан словарь

А теперь достанем почту пользователя 86609.

In [ ]:
mini_db_crm[86609]['mail']

Достанем все почты.

In [ ]:
for dic in mini_db_crm.values():
    print(dic['mail'])

### Задача

В модуле `queries` лежит 1000 поисковых запросов в google, через которые пользователи попадали на страницу skyeng.

Давайте разберем код, который рассчитывает, сколько слов обычно встречается в запросе, через который пользователи попадают к нам на страницу.

In [ ]:
from queries import queries

print(len(queries))
print(queries[0:10])

In [ ]:
result = dict()                    # создаем пустой словарь, куда будем записывать результат
for q in queries:                  # пробегаемся по всем запросам
    words_count = len(q.split())   # созадем переменную, куда записываем число слов в запросе
    
    if words_count not in result:  # если такого числа слов нет в нашем словре, то ...
        result[words_count] = 1    # добавляем в словарь пару "Число слов":1 (встретилось 1 раз)
    else:                          # если же такое число слов уже есть в нашем словаре, то ...
        result[words_count] += 1   # добавляем 1 к нашему счетчику

Получили словарь `{количество слов в запросе : сколько запросов такой длины}`

Чтобы вывод был понятным и удобным, мы будем использовать метод `format`

In [ ]:
for key, values in result.items():
    print(f' Поисковых запросов, содержащих {key} словa: {values}')

<body>
  <div
    style="
      padding-top: 298px;
      padding-bottom: 298px;
      background-color: black;
      border-radius: 24px;
    "
  >
    <div style="text-align: center">
      <div
        style="
          font-size: 72px;
          line-height: 80px;
          font-family: Arial;
          color: white;
        "
      >
        Спасибо за внимание
      </div>
    </div>
  </div>
</body>